@font-face {
    font-family: 'Techno Chain';
    src: url('techno-chain.ttf');
}
body{
    margin:0;
    background-color: yellow;
    font-family: 'Impact';
    font-size: 30px;
}

header{
}

main{
    min-height: 2000px;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}

h1{
    font-size: 50px;
}

.highlighted-black{
    background-color: black;
    color: white;
}
.highlighted-blue{
    background-color: blue;
    color: white;
}

.highlighted-big{
    padding:0px 20px 20px 0px;
}

.highlighted-down{
    margin-top:20px;
    position:absolute;
}

.parallax {
    /* La imagen de fondo */
    background-image: url('default.png');

    /* Tamaño y posición */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-title{
    text-align: center;
    align-self: center;
    font-size: 120px;
    margin: 20px;
    color:white;
}

.slogan{
    text-align: center;
    align-self: center;
    color:white;
    font-size: 40px;
}

.radio-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px dashed black;
}

.first-section {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	border: 2px solid black;
	max-width: 980px;
	margin: auto;
	margin-top: 50px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}


