@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,700&display=swap');

body{
    background-color: black;
    color: white;
    background-image: url('snake.jpg');
    /*background-image: url('https://drive.google.com/uc?export=view&id=1WaxAG1suHZ5IHeWlNXuxXrbH08CRGKXb');*/

    background-repeat: repeat-y;
    background-position: right;
    background-size: 300px;
    font-family: 'Almendra', serif;
}

h1{
    margin-top:30px;
    color: #ffbe00;
    font-weight: bold;
    text-transform: uppercase;
}

h2, h3{
    font-weight: bold;
}


.pc-block .pc-image{
    width: 90%;
    margin: auto;
    display: block;
}

.pc-block .medal img{
    width: 70px;
    margin: auto;
    display: block;
}


hr{
    /*margin: 30px 60px 30px 60px;*/
    margin: 20px;
    border-top: 2px solid;
}

.medal h3{
    text-align: center;
}

.medal p{
    text-align: center;
}

.pc-block .title{
    text-align: center;
    margin-bottom: 30px;
}

header{
    text-align: center;
}

.mvp .title{
    text-shadow: 0px 0px 10px #ffbe00;

}

.mvp .pc-image{
    filter: drop-shadow(0 0 0.75rem rgb(255, 190, 0));
}

.mvp .label {
    font-style: italic;
    color: #ffc107;
    margin-top: -30px;
    text-shadow: none;
}

.mvp .label img{
    height:30px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.row.first{
    margin-top:65px;
}

.mvp .row.first{
    margin-top:100px;
}

.story p{
    text-indent: 30px;
    text-align: justify;
}

.story ul{
    margin-left:40px;
}

@media(max-width: 550px)
{
}

@media(max-width: 767px)
{
    body{
        background-position: center; 
    }

    .mvp .row.first{
        margin-top:65px;
    }

}