body{
    background-color: rgb(12, 12, 12);
    color: rgb(196 196 196);
}

.item img {
    width: 100px;
    padding: 10px;
}

.item a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.item{
    background: #1e1e1e;
    margin-bottom: 10px;
}